
.vs/AnyoneForTennis/FileContentIndex/1d0cbb62-f475-403c-9613-2508cdb5faa7.vsidx
.vs/AnyoneForTennis/FileContentIndex/243dd532-5c29-46f8-a2b6-5df66dfb7d9e.vsidx
.vs/AnyoneForTennis/FileContentIndex/50ae59ed-4875-473d-a14a-5f6e7daeaab7.vsidx
.vs/AnyoneForTennis/FileContentIndex/908c1cf2-0eb5-457f-ae9c-3c4e997e8125.vsidx
.vs/AnyoneForTennis/FileContentIndex/d85beb26-8612-4c21-89e5-067bb3e263f8.vsidx
AnyoneForTennis/obj/Debug/net8.0/AnyoneForTennis.dll
AnyoneForTennis/obj/Debug/net8.0/AnyoneForTennis.pdb
AnyoneForTennis/obj/Debug/net8.0/ref/AnyoneForTennis.dll
AnyoneForTennis/obj/Debug/net8.0/refint/AnyoneForTennis.dll
.vs/AnyoneForTennis/v17/.futdcache.v2
.vs/AnyoneForTennis/v17/.suo
.vs/ProjectEvaluation/anyonefortennis.metadata.v8.bin
.vs/ProjectEvaluation/anyonefortennis.projects.v8.bin
.vs/ProjectEvaluation/anyonefortennis.strings.v8.bin
AnyoneForTennis/bin/Debug/net8.0/AnyoneForTennis.dll
AnyoneForTennis/bin/Debug/net8.0/AnyoneForTennis.pdb
.vs/AnyoneForTennis/FileContentIndex/391db67f-3dd3-4403-bb93-efede4b412f9.vsidx
.vs/AnyoneForTennis/DesignTimeBuild/.dtbcache.v2
