@model AnyoneForTennis.Models.EnrollmentPopupViewModel

<!-- Enrollment Popup -->
<div class="modal fade" id="enrollmentPopup" tabindex="-1" role="dialog" aria-labelledby="enrollmentPopupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enrollmentPopupLabel">Enrollment Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>You have successfully enrolled in the schedule.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#enrollmentPopup').modal('show');
    });

    function closeModal() {
        $('#enrollmentPopup').modal('hide');
    }
</script>