@model AnyoneForTennis.Models.EnrollmentPopupViewModel

<div class="modal" tabindex="-1" role="dialog" id="enrollmentPopup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Message</h5>
            </div>
            <div class="modal-body">
                <p>@(Model.IsSuccess ? "You have successfully enrolled in the schedule." : "Please try again.")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Continue browsing</button>
                @if (Model.IsSuccess)
                {
                    <a href="@Url.Content("~")" class="btn btn-primary">View my enrollments</a>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#enrollmentPopup').modal('show');
    });

    function closeModal() {
        $('#enrollmentPopup').modal('hide');
    }
</script>