@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome to the Home Page</h1>

<p>Here you can find stuff for people!</p>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@if (ViewBag.IsAdmin)
{
    <p>This text is only visible to admins! Also, free video <a href="https://www.youtube.com/watch?v=tJi0QwGlTTk&themeRefresh=1">Can't believe this is actually real</a></p>
}

<p>This text is visible to all users.</p>

